@charset "utf-8";

body {
  width: 100vw;   /* Width and height both 100% */
  height: 100vh;  /* This won't look great on small screens */
  overflow: hidden;
  font-family: Raleway, sans-serif;
}

/* -------- Navigation Styles -------- */

.side-nav {
  width: 400px;
  height: 100%;
  float: left;
  background-color: #333;
}

nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav > ul > li {
  margin: 0;
  display: block;

}

nav.vertical li a {
  display: flex;
  text-decoration: none;
  font-size: 1.2em;
  color: #999;
}

nav.vertical li .link-text {
  display: inline-block;
  max-width: 300px;
  padding: 15px 10px;
}

nav.vertical .active {
  background-color: #666;
}

nav.vertical .active a {
  color: #EEE;
}

nav.vertical .active:hover {
  background-color: #666; /* Prevent active tab from highlighting on hover */
}

nav.vertical li:hover {
  background-color: #444;
}

nav .icon {
  display: block;
  width: 30px;
  padding: 15px 20px;
  font-size: 1.8em;
  color: #999;
}

nav .active .icon {
  color: #34BBA7;
}

.bio {
  margin-top: 100px;
}

.bio-description {
  margin: 20px 0;
  color: #CCC;
  font-size: 1.1em;
  text-align: center;
}

.avatar {
  display: block;
  margin: 0 auto;
}

/* -------- End Navigation Styles -------- */


/* -------- General Styles for Main Body -------- */

.main-content {
  width: calc(100% - 400px);  /* Main body is 100% - sidebar size */
  height: 100%;
  float: right;
  background-color: #E6E6E6;
}
