@charset "utf-8";

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.side-nav {
  width: 400px;
  height: 100%;
  float: left;
  background-color: #333;
}

nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav > ul > li {
  margin: 0;
}

nav.vertical li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  font-size: 1.2em;
  color: #999;
}

nav.vertical .active {
  background-color: #666;
}

nav.vertical .active a {
  color: #EEE;
}

nav.vertical .active:hover {
  background-color: #666;
}

nav.vertical li:hover {
  background-color: #444;
}

.main-content {
  width: calc(100% - 400px);
  height: 100%;
  float: right;
  background-color: #E6E6E6;
}

.bio {
  margin-top: 100px;
}

.bio-description {
  margin: 20px 0;
  color: #CCC;
  font-size: 1.8em;
  text-align: center;
}

.avatar {
  display: block;
  margin: 0 auto;
}
