@charset "utf-8";

html {
  height: 100%;
}

body {
  width: 100vw;   /* Width and height both 100% */
  height: 100%;
  font-family: Raleway, sans-serif;
}

/* -------- Navigation Styles -------- */

.side-nav {
  width: 400px;
  height: 100%;
  background-color: #333;
  overflow: hidden;
}

nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav > ul > li {
  margin: 0;
  display: block;

}

nav.vertical li a {
  display: flex;
  text-decoration: none;
  font-size: 1.2em;
  color: #999;
}

nav.vertical li .link-text {
  display: inline-block;
  max-width: 300px;
  padding: 10px;
}

nav.vertical .active {
  background-color: #666;
}

nav.vertical .active a {
  color: #EEE;
}

nav.vertical .active:hover {
  background-color: #666; /* Prevent active tab from highlighting on hover */
}

nav.vertical li:hover {
  background-color: #444;
}

nav .icon {
  display: block;
  width: 30px;
  padding: 10px 20px;
  font-size: 1.8em;
  color: #999;
}

nav .active .icon {
  color: #34BBA7;
}

.bio {
  margin-top: 100px;
}

.bio-description {
  margin: 20px 0;
  color: #CCC;
  font-size: 1.1em;
  text-align: center;
}

.avatar {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

/* -------- End Navigation Styles -------- */


/* -------- General Styles for Main Body -------- */

.page-wrap {
  height: 100%;
  display: flex;
}

.main-content {
  width: calc(100% - 400px);  /* Main body is 100% - sidebar size */
  height: 100%;
  overflow: auto;
  background-color: #E6E6E6;
}

.section {
  margin: 0;
  padding-top: 30px;
}

.primary {
  background-color: #F1F1F1;
}

.container {
  margin-left: 80px;
}

.flex-row {
  display: flex;
.flex-row.down {
  align-items: flex-end;
}

.flex-item.balanced {
  flex: 1 1 50%;
}

.contact-img {
  margin-left: 40px;
  vertical-align: bottom;
}

.page-title {
  font-weight: 400;
}

.social-media {
  margin: 20px 0;
}

.social-media .social-link {
  display: flex;
  text-decoration: none;
}

.social-media .description {
  display: inline-block;
  margin: auto 20px;
}

/* Text colour corresponding to social media sites */
.facebook {
  color: #385385;
}

.linkedin {
  color: #1F6A9E;
}

.google {
  color: #CB4A45;
}

.twitter {
  color: #71C8DD;
}
/* -------------- end text colours -------------- */

.contact-form textarea {
  height: 200px;
}
