---
title: About Me
---

<% content_for :navbar do %>
        <ul>
          <li class="active">
            <% link_to 'index.html' do %>
              <i class="fa fa-user icon"></i>
              <span class="link-text">About Me</span>
            <% end %>
          </li>
          <li>
            <% link_to 'blog.html' do %>
              <i class="fa fa-newspaper-o icon"></i>
              <span class="link-text">Blog</span>
            <% end %>
          </li>
          <li>
            <% link_to 'portfolio.html' do %>
              <i class="fa fa-briefcase icon"></i>
              <span class="link-text">Portfolio</span>
            <% end %>
          </li>
          <li>
            <% link_to 'resume.html' do %>
              <i class="fa fa-file-text-o icon"></i>
              <span class="link-text">Resume</span>
            <% end %>
          </li>
          <li>
            <% link_to 'contact.html' do %>
              <i class="fa fa-phone icon"></i>
              <span class="link-text">Contact Me</span>
            <% end %>
          </li>
        </ul>
<% end %>

<div class="container">
  <div class="flex-row about">
    <div class="flex-item item-primary gutter">
      <figure class="img-wrap">
        <%= image_tag 'all_of_us.jpg',
          alt: 'Lunch with my girlfriend and dog',
          width: '100%',
          height: 'auto',
          class: 'main'
        %>
        <div class="img-caption">
          <figcaption>
          This photo was taken at the Fernwood Inn in Victoria, BC.<br>
          This is one of the few places our dog Ozzy can join us on the patio
          in the summer.
          </figcaption>
        </div>
      </figure>
    </div>
    <div class="flex-item item-secondary gutter">
      <h1>About Me</h1>
      <p>
      I'm a software developer currently living in beautiful Victoria, BC. I'm
      a few weeks away from completing my Computer Science (B.Sc.) degree at
      the University of Victoria (UVic). I write as much code as I can, listen
      to as much music as I can, and spend as much time as possible with my
      pets. I love learning new things and am always looking for a challenge.
      </p>
    </div>
  </div>
  <h2>Professional Experience</h2>
  <div class="flex-row experience">
    <div class="flex-item balanced">
      <p>
      The University of Victoria has an excellent coop program that helps place
      students in work positions throughout their studies. In my 4.5
      years here, I've had the opportunity to work with great people in
      various positions.
      </p>
      <p>
      My first coop position consisted of providing in-house IT support for a
      local tech startup employing approximately 70 people. I did everything
      from onboarding new employees and setting up their workstations to
      providing group tutorials for new software being used internally.
      </p>
      <p>
      My second position was spent working at the IBM lab in Victoria. I
      dedicated most of my time to writing automated tests for some of their
      legacy products. The test suite was written in Java using Selenium
      WebDriver.
      </p>
    </div>
    <div class="flex-item balanced">
      <p>
      My last coop placement was at a local tech startup called Stembolt.
      During my time there I worked as a full-stack web developer implementing
      features for eCommerce applications built using the Ruby on Rails
      framework. I gained considerable experience with all the relevant tools
      including: Ruby, Rails, HTML, CSS/SASS, JS/CoffeeScript, etc. All my work
      was constantly peer reviewed which helped me learn better development
      practices and taught me to be more critical of the code that I write.
      </p>
    </div>
  </div>
</div>
